.footer {
    height: 40px;
    line-height: 40px;
    background: $lightGray;
    color: $midGray;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    padding: 0 15px;
    z-index: 100;

    p{
        margin: 0;
    }

    .scroller{
        position: absolute;
        top:0;
        right: 15px;
        transform: translateY(-50%);
    }
}
